{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    {{ parent() }}


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6 bg-white rounded my-3 p-5">
                <h1>Crear Post</h1>
                {{ form(formulario) }}
            </div>
        </div>
    </div>



{% endblock %}
