{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    {% set likesPost = post.getLikes() | split(',') %}

    <div class="container bg-white rounded my-3 p-4">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h3>{{post.getTitulo()}}</h3>
                <div class="my-3" style="color:#3282b8;" onclick="meGusta({{ post.getId() }})">
                    <i class="fa fa-thumbs-up"></i><strong> {% if app.user.id in likesPost %} Me gusta {% else %} ¿Te gusta el post? {% endif %}</strong>
                </div>
                <div style="color:#c3f584;">
                    <i class="far fa-clock"></i> <strong>Publicacion: {{ post.getFechaPublicacion()|date }}</strong>
                </div>
            </div>
            <div class="p-2 bd-highlight">
                <div class="align-self-center">
                    <img class="rounded" src="{{ asset('uploads/fotos_posts/'~post.getFotos()) }}" width="150px">
                </div>
            </div>
        </div>
        <hr>
        <div class="text-justify my-3">
            {{ post.getContenido() }}

        </div>
    </div>

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6 bg-white rounded my-3 p-5">
                <h1>Comentario</h1>
                {{ form(formularioComentario) }}
            </div>
        </div>
    </div>

<div class="container h-100 bg-warning">
    <h1>Comentarios</h1>
    {% for comentarioPost in comentariosPost %}
        <div class="border">
            <h3>{{ comentarioPost.user.nombre }} dijo:</h3>
            <p>{{ comentarioPost.comentario }}</p>
        </div>

    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/ajax-call.js') }}"></script>
{% endblock %}
